{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["import-graphql"],
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true,
                "corejs": 3
            }
        ]
    ]
}